.sidebar{
    
    flex:0.2;
    height: 100vh;
    background-color: black;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.sidebar-mainlogodiv{
    
    display: flex;
    flex: flex end;
    align-items: center;
}
.side-bar-logo{
    height: 50px;
}
.shahid{
    font-size: 13px;
    font-style: italic;
    letter-spacing: 3px;
}
@media screen and (max-width: 650px){
    .sidebar{
        position: fixed;
        /* left:-100%; */
        display: none;
    }
} 